<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reaktor preassignment</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        display: none;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>

  <body>

    <h1>Here be the stuff</h1>
    <p>This site updates its data every 5 mins</p><br>
    <% const categories = ['beanies', 'gloves', 'facemasks'] %>

    <div id="buttons">
      <% categories.forEach(c => { %>
        <button onclick="viewCategory('<%= c %>')">View <%= c %></button>
      <% }) %>
    </div>

    <p id="loading">Loading data...</p>

    <div id="table-area">
      <% categories.forEach(c => { %>
        <table id="content-table-<%= c %>">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Availability</th>
            <th>Type</th>
          </tr>
        </table>
      <% }) %>
    </div>

    

    <script>
      const viewCategory = (category) => {
        ['beanies', 'gloves', 'facemasks'].forEach(c => {
          const table = document.getElementById("content-table-"+c)
          if (category === c) {
            table.style.display = "block"
          } else {
            table.style.display = "none"
          }
        })
      }
      const populateTables = (data) => {
        document.getElementById("loading").style.display = "none"
        document.getElementById("buttons").style.display = "block"
        for (const [category, products] of Object.entries(data)) {
          const table = document.getElementById("content-table-"+category)
          for (const [id, product] of Object.entries(products)) {
            const row = table.insertRow(-1);
            row.insertCell(0).innerHTML = product.id
            row.insertCell(1).innerHTML = product.name
            row.insertCell(2).innerHTML = product.manufacturer
            row.insertCell(3).innerHTML = product.availability
            row.insertCell(4).innerHTML = product.type
          }
        }
      }

      const loadData = async() => {
        document.getElementById("loading").style.display = "block"
        document.getElementById("buttons").style.display = "none"
        fetch("/api/products").then(r => r.json()).then(d => populateTables(d))
      }
      loadData()
    </script>

  </body>
</html>